body {
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* resume css here */

#pdf {
  height: 1056px;
  width: 816px;
  background-color: white;
}

#background {
  background-color: gray;
  padding: 0px;
  margin: 0px;
}

#name {
  text-align: center;
  font-size: 2rem;
  margin-left: center;
}

#desc {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}

#heading {
  font-size: 1.5rem;
  font-weight: 700;
}

#subHeading {
  font-size: 1rem;
  font-weight: 700;
}

#location {
  margin-left: auto;
  font-weight: 700;
  font-size: 1rem;
}

#educationContainer {
  display: flex;
  flex-direction: row;
}

#info {
  font-size: 1rem;
}

#date {
  margin-left: auto;
  font-size: 1rem;
}
