body {
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* resume css here */

#pdf {
  height: 1056px;
  width: 816px;
  background-color: white;
}

#background {
  background-color: gray;
  padding: 0px;
  margin: 0px;
}

#name {
  text-align: center;
  font-size: 2rem;
}

#desc {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}
